# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# Byte-compiled / cache
*.egg-info/
.eggs/
*.egg
dist/
build/

# IDE / Editor files
.vscode/
.idea/

# Logs & Debug
*.log
*.out
*.err
.github

# Environment variables
.env
.env.*
!.env.example

# OS-specific files
.DS_Store
Thumbs.db

# Milvus-related data
milvus-docker/*
!milvus-docker/docker-compose.yml
!milvus-docker/*.sh

# Data files
data/*.csv
data/*.json
search_inputs/*
logs/

# If you want to keep songs.csv in git, REMOVE this line above
# Otherwise songs.csv will be ignored

# ------------------------
# Python Tools
# ------------------------
pytest_cache/
.ipynb_checkpoints/

# ------------------------
# Cache from FastAPI / Uvicorn
# ------------------------
*.pid
*.db

# ------------------------
# Docker
# ------------------------
docker-compose.override.yml
docker-compose-app.yaml



# ------------------------
# Application Logs (Nested Path)
# ------------------------
volumes/

# SSL keys
cert.pem
key.pem
*.pem
